@import "var";

#custom {

}
#photograph {
  position: absolute;
  z-index: 1000;
  top: 0.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 84%;
  padding: 0px;
  color: white;

  .view-table {
    width: 100%;
    height: 5.2rem;
    border: $border-size solid $color-1;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    tbody {
      height: 100%;
      tr {
        width: 100%;
        td {
          width: 50%;
          height: 50%;
          cursor: pointer;
          text-align: center;
          border: $border-size solid $color-1;

        }
      }
    }
  }
}

